@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&family=Mochiy+Pop+P+One&display=swap");
.public-nav {
  &__brand {
    font-weight: "bold";
    font-size: 20px;
    color: #4360ff;
    text-align: "center";
    font-family: "Fugaz One";
    @media only screen and (max-width: 750px) {
      margin: auto;
      justify-content: center;
    }
  }
  &__collapse {
    &.navbar-collapse {
      display: none !important;
    }

    @media only screen and (max-width: 750px) {
      &.navbar-collapse {
        display: none !important;
      }
    }
  }
}
