.admin-dashboard {
  &__container {
    padding: 0;

    @media only screen and (max-width: 750px) {
      padding-right: 12px;
      padding-left: 12px;
    }
    &__table {
      border-radius: 5px;
      padding: 50px;
      box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
      &__nav {
        margin: 0;
        margin-bottom: 10px;
        &__base-nav {
          padding: 10px 12px 10px 12px;
          &__items {
            padding: 10px 12px 10px 12px;
            a {
              padding: 0;
              color: #5f5f5f;
              font-weight: bold;
              font-size: 18px;

              &:hover {
                color: #3b55e1;
              }
            }
          }
        }
      }
      &__header {
        margin: 0;
        margin-bottom: 10px;
        &__tabs {
          height: auto;
          padding-top: 10px;
          padding-bottom: 10px;
          border-radius: 5px;
          margin: 0;
          display: flex;
          align-items: center;
          background-color: rgba(0, 0, 0, 0.05);

          &__tab {
            font-size: 14px;
            font-weight: 500;
            padding-top: 10px;
            padding-bottom: 10px;
            max-width: 255px;
            height: 100%;
          }
        }
      }
      &__body {
        margin: 0;
        &:hover {
          background-color: #435fff1a;
          cursor: pointer;
        }
        &__race {
          height: auto;
          padding-top: 10px;
          padding-bottom: 10px;
          margin: 0;
          display: flex;
          align-items: center;
          border-bottom: solid 1px rgba(0, 0, 0, 0.171);

          &__info {
            display: flex;
            align-items: center;
            padding-top: 10px;
            padding-bottom: 10px;
            max-width: 255px;
            overflow: hidden;
            text-overflow: ellipsis;
            height: 100%;

            &__selector-status {
              position: inherit;
              width: 100%;

              button {
                width: 100%;
              }

              &.hide {
                button::after {
                  display: none;
                }
              }
            }

            &__status {
              display: flex !important;
              justify-content: center;
              align-items: center !important;
              display: block;
              height: inherit;
              width: fit-content;
            }
          }
        }
      }
    }
    &__mobile {
      display: flex;
      justify-content: center;
      margin: 20px;

      &__card {
        width: 19rem !important;
        &__body {
          &__container {
            &__drop-off {
              width: auto;
              margin-bottom: 0;
            }
            &__drop-off-hour {
              width: auto;
              margin-bottom: 0;
            }
            &__drop-off-code {
              width: auto;
              margin-bottom: 0;
            }
            &__drop-back {
              width: auto;
              margin-bottom: 0;
            }
            &__drop-back-code {
              width: auto;
              margin-bottom: 0;
            }
            &__code {
              width: auto;
              padding-left: 0;
            }
            &__phone {
              width: auto;
              margin-bottom: 0;
            }
            &__hour {
              width: auto;
              padding-left: 0;
            }
            &__address {
              width: auto;
              padding-left: 12px;
            }
            &__number {
              width: auto;
              padding-left: 0;
            }
          }
          &__actions {
            margin-top: 10px !important;
            &.row {
              .dropdown {
                button {
                  width: 100% !important;
                }
              }
            }
          }
        }
      }
    }
    &__filter {
      display: flex;
      justify-content: center;
      &__items {
        width: 19rem !important;
        &__header {
          button {
            color: #212529 !important;
            background-color: transparent !important;
            box-shadow: unset !important;
            padding-left: 0;
            padding-right: 0;
            &::after {
              background-image: "data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>";
            }
          }
        }
      }
    }
  }
}
