@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&family=Mochiy+Pop+P+One&display=swap");
.navigation {
  margin-bottom: 100px;
  &__container {
    &__brand {
      font-weight: "bold";
      font-size: 50px;
      color: #4360ff;
      text-align: "center";
      font-family: "Fugaz One";
    }
    &__collapse {
      justify-content: end;
    }
  }
}
